
#datos{

    position: absolute;
    right: 5vw;
    top: 8vw;
    font-size: 1.8vw;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono;

}
#yo{
    position: absolute;
    width: 20vw;
    height: 25vw;
    padding: 10px;
    left: 210px;
    top: 5.5vh;
    border-radius: 80px;
    opacity: 90%;

}
#tarjeta{
    z-index: 1;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    width: 90vw;
    height: 40vw;
    margin: 40px auto;
    position: relative;
    border-radius: 15px;
   
}
/* ////BOTONES//// */
.boto{
    display: flex;
    padding-top:3vw ;
    justify-content: space-evenly;
}
.boton, .boton2{
    width: 25vw;
    height: 4vw; 
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    display: flex;
    justify-content: center;
    border-radius: 40px;
    position: relative;
    top: 430px;
}

a{
    position:relative;
    font-size: 1.7vw;
    font-family: monospace;
    white-space: pre;
    text-decoration: none;
    align-self: center;
    color: black;
    width: 25vw;
    text-align: center;
}

.boton:hover, .boton:focus, .boton:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(-4deg);
  }

  .boton2:hover, .boton2:focus, .boton2:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
  

