@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
.letras {
    font-family:'Roboto Mono', monospace;
    font-size: 70px;
    width: 40vw;
    grid-column: 1/4;
    align-self: center;
    stroke-width:3px;
    stroke:rgb(0, 0, 0);
    fill:transparent;
    animation: effect 3s infinite alternate;
}
.conte{
    position: relative;
    top:10vh;
    margin: 10vh auto;
    width: 70vw;
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;   
    z-index: 20;
    border-radius: 15px;
    
}
.boton{
    display: flex;
    font-size: 40px;
    width: 90px;
    height: 90px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #b3bcc56b;
    border-radius: 50%;
}
#home{
    z-index: 9;
    position: static;
    top: 4px;
    left: 4px;
    
}
.circulo{
    width: 50px;
    height: 50px;
    background-color: #fff;
    z-index: 9;
    position: absolute;
    top: 25px;
}
.fondo{
    width: 105vw;
    height: 97vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    top: 0;
    z-index: 1;

}


@keyframes effect{
    0%{
      stroke-dasharray:0 70%;
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: 30%;
    }
}

 
 a:hover, a:focus, a:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #000000;
    color:#fff;
}
/* REGRESO A INDEX*/
.home{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 2%;
    top: 3%;
    z-index: 9;
    opacity: 70%;
}
.home:hover, .home:focus, .home:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}





